body {
    background-color: darkgoldenrod;
}

h1 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: black
}

.list-container {
  padding: 2px 16px;
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

#refresh-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
}

.container {
  background-color: black;
  border-radius: 30px 30px 30px 30px;
}

.title {
  align-items: center;
  display: flex
}